.tasks__section {
  padding: 16px 24px;
  width: 450px;
  height: 200px;
  background-image: url("../../assets/Liquid-Glass.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks__muted {
  width: 325px;
  margin-top: 8px;
  color: #f97316;
  margin: 70px;
}

.tasks__list {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: grid;
  gap: 10px;
  margin: 40px;
}

.tasks__task {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.tasks__checkbox {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

.tasks__label {
  user-select: none;
  color: #f97316;
}

.tasks__label.is-done {
  color: #94a3b8;
  text-decoration: line-through;
}
