.app__page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-image: url("../../assets/ocean.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app__card {
  width: 100%;
  height: 100%;
  max-width: 840px;
  background: #507caa;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px 24px;
  margin: 10px;
  border-bottom: 1px solid #e5e7eb;
}

.app__header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.app__title {
  font-family: "Montserrat", cursive;
  font-size: 52px;
  font-weight: 800;
  letter-spacing: -0.01em;
  margin: 0 0 10px 0;
  color: #ffffff;
}

.app__description {
  font-family: "Fredoka One", sans-serif;
  width: 500px;
  font-size: 24px;
  color: #e0ffff;
  font-weight: 500;
  text-align: center;
  margin: 4px 0 0 0;
  line-height: 1.5;
}

.app__controls {
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app__controls-message {
  font-family: "Fredoka One", sans-serif;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #7fffd4;
  font-weight: 700;
}

.app__button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  appearance: none;
  border: none;
  background: #ff6f61;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  transition:
    background 160ms ease-in-out,
    transform 60ms ease-in-out;
  margin-left: 5px;
}

.app__button:hover {
  background: #6fa9db;
}

.app__button:active {
  transform: translateY(1px);
  background: #4338ca;
}

.app__complete-message {
  font-family: "Fredoka One", sans-serif;
  font-size: 14px;
  margin-top: 16px;
  padding: 12px;
  border-radius: 0 0 8px 8px;
  background-size: cover;
  background: url("../../assets/Liquid-Glass.png") no-repeat center;
  color: #2e8b57;
  font-weight: 600;
  text-align: center;
}

.app__progress {
  width: calc(100% - 24px);
}

.app__logo {
  width: 200px;
  height: 150px;
  background-image: url("../../assets/goldfish.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .app__page {
    width: calc(100% - 24px);
    padding: 12px;
    justify-content: flex-start;
  }

  .app__card {
    height: 660px;
    border-radius: 16%;
  }

  .app__header {
    margin: 0;
    padding: 13px;
  }

  .app__description {
    width: 100%;
    font-size: 23px;
  }

  .app__logo {
    margin-bottom: 0;

    height: 55px;
    width: 70px;
  }

  .app__title {
    font-size: 48px;
  }

  .app__controls-message {
    font-size: 14px;
    color: floralwhite;
  }
}
